.fc .fc-toolbar-title {
  font-weight: bold;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 4px 4px;
  color: #444;
  font-weight: bolder;
}

.fc .fc-button-primary {
  color: #fff;
  background-color: #0070f3;
  border-color: #0070f3;
  border-radius: 14px;
}

.fc .fc-button-primary:hover {
  background-color: #3d9cf7;
  border-color: #3d9cf7;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
  color: #fff;
  background-color: #0056d0;
  border-color: #0056d0;
}

.fc .fc-button-primary:disabled {
  color: #fff;
  background-color: #0056d0;
  border-color: #0056d0;
}

.fc .fc-daygrid-day-number {
  color: #444;
}
